
<div class="question-sort pull-right" >
  <div class="btn-group" >
    <%= link_to 'Новые', questions_path, class: 'btn btn-default' %>
    <%= link_to 'Горячие', questions_path(search: :hot), class: 'btn btn-default' %>
    <%= link_to 'Без ответов', questions_path(search: :without_answers), class: 'btn btn-default' %>
  </div>
</div>

<legend>Вопросы</legend>
<%= render 'shared/flash', flash: flash %>
<%= render 'aside' %>
<div class="questions_list">
  <%= render @questions %>
</div>

<%= paginate @questions %>
