<div class="pull-right" >
  <div class="btn-group" >
    <button type="button" class="btn btn-default">Новые</button>
    <button type="button" class="btn btn-default">Горячие</button>
    <button type="button" class="btn btn-default">Без ответов</button>
  </div>
</div>

<legend>Вопросы</legend>
<%= render 'aside' %>
<div class="questions_list">
  <% @questions.each do |question| %>
    <div>
      <h4><%= link_to question.title, question  %></h4>
      <span class="pull-right" id="rating"><%= question.rating %></span>
      <%= fa_icon 'comment' %> <%= question.answers.count %>
      <%= fa_icon 'eye' %> <%= question.views_count %>
      <%= fa_icon 'user' %> <%= User.first.name %>
      <%= fa_icon 'clock-o' %> <%= distance_of_time_in_words(Time.now, question.created_at) %> ago</br></br>
      <% if question.tags.present? %>
        <% question.tags.each do |t| %>
          <span class="tag"><%= t.name %></span>
        <% end %>
      <% end %>
      <hr class="divider">
    </div>
  <% end %>
</div>
