
<div class="question-sort pull-right" >
  <div class="btn-group" >
    <%= link_to 'Новые', questions_path, class: 'btn btn-default' %>
    <%= link_to 'Горячие', questions_path(search: :hot), class: 'btn btn-default' %>
    <%= link_to 'Без ответов', questions_path(search: :without_answers), class: 'btn btn-default' %>
  </div>
</div>

<legend>Вопросы</legend>
<%= render 'shared/flash', flash: flash %>
<%= render 'aside' %>
<div class="questions_list">
  <% @questions.each do |question| %>
    <div>
      <h4><%= link_to question.title, question  %></h4>
      <span class="pull-right" id="rating"><%= question.rating %></span>
      <%= fa_icon 'comment' %> <%= question.answers.count %>
      <%= fa_icon 'eye' %> <%= question.views.count %>
      <%= fa_icon 'user' %> <%= question.user.name %>
      <%= fa_icon 'clock-o' %> <%= distance_of_time_in_words(Time.now, question.created_at) %> назад</br></br>
      <% if question.tags.present? %>
        <% question.tags.each do |t| %>
          <span class="tag"><%= t.name %></span>
        <% end %>
      <% end %>
      <hr class="divider">
    </div>
  <% end %>
</div>

<%= paginate @questions %>
