<%= render 'aside' %>

<div class="question_view">
  <h4><%= @question.title %></h4>
  <span class="pull-right" id="rating"><%= @question.rating %></span>
  <%= fa_icon 'comment' %> <%= @question.answers.count %>
  <%= fa_icon 'eye' %> <%= @question.views_count %>
  <%= fa_icon 'user' %> <%= User.first.name %>
  <%= fa_icon 'clock-o' %> <%= distance_of_time_in_words(Time.now, @question.created_at) %> ago</br></br>
  <div><%= @question.text %></div></br>
  <% if @question.tags.present? %>
    <% @question.tags.each do |t| %>
      <span class="tag"><%= t.name %></span>
    <% end %>
  <% end %>
  <span class="pull-right"><%= link_to 'Edit', edit_question_path(@question) %></span>
  <hr class="divider">
  </div>
</div>

<span><%= fa_icon 'comment' %>Ответы(<%= @question.answers.count %>)</span>
<span>написать <%= fa_icon 'long-arrow-down' %></span>
<hr class="divider">

<% if @question.answers.present? %>
  <% @question.answers.each do |a| %>
    <span ><%= a.text %></span>
    <hr class="divider">
  <% end %>
<% end %>

 <hr class="divider">
<%= fa_icon 'pencil-square-o ' %> Написать ответ:
<%= form_for([@question, @question.answers.build]) do |f| %>
  <div class="controls">
    <%= f.text_field :text %>
  </div>

  <%= f.submit class: 'btn btn-success' %>

<% end %>


