<%= render 'aside' %>

<%= render @question %>

<span><%= fa_icon 'comment' %> Ответы(<%= @question.answers.count %>)</span>
<span>написать <%= fa_icon 'long-arrow-down' %></span>
<hr class="divider">

<% if @question.answers.present? %>
  <%= render @question.answers %>
<% end %>

<%= render 'answers/form'%>

