<legend>Пользователи</legend>
<ol>
  <% @users.each do |user| %>
    <li>
      <%= image_tag("image.jpeg") %>
      <%= user.name %></br>
      Ответов: <%= user.answers.count %>
      Воспросов: <%= user.questions.count %>
    </li>
    <hr class="divider">
  <% end %>
</ol>
<br>

<%= link_to 'New User', new_user_path %>
