<%= render 'shared/flash', flash: flash %>

<%= fa_icon 'pencil-square-o ' %> Написать ответ:
<%= form_for([@question, @question.answers.build]) do |f| %>
  <div class="field">
    <%= f.text_area :text, rows: 6, maxlength: 400 %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
