<%= render 'shared/flash', flash: flash %>
<%= render 'shared/errors', object: @tag %>

<%= form_for(@tag) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
