<legend>Теги</legend>

<%= render 'shared/flash' %>
<%= render 'questions/aside' %>
<div class="tags_list">
  <% @tags.each do |tag| %>
    <div>
      <span id="tag_name"><%= tag.name %></span></br>
      Вопросов:<span class="red-text"><%= tag.questions.count %></span>
      Подписчиков:<span class="red-text"><%= tag.subscriptions.count %></span>
      <%= subscribe_btn(tag) %>
    </div>
    <hr class="divider">
  <% end %>
</div>
